/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.load-more{
  display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: calc(25% - 25px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}


.info p {
  padding: 5px;
  background-color: #f9f9f9;
  text-align: center;
  
}